<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListServlet</servlet-name>
        <servlet-class>controller.PostListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>controller.PostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterUserServlet</servlet-name>
        <servlet-class>controller.FilterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>controller.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortUserServlet</servlet-name>
        <servlet-class>controller.SortUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>controller.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingServlet</servlet-name>
        <servlet-class>controller.SettingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingServlet</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListServlet</servlet-name>
        <url-pattern>/postlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/postdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterUserServlet</servlet-name>
        <url-pattern>/filteruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/searchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortUserServlet</servlet-name>
        <url-pattern>/sortuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
</web-app>


