/********** Template CSS **********/
:root {
    --primary: #009CFF;
    --light: #F3F6F9;
    --dark: #191C24;
}
body{
    overflow-x: hidden;
}


/** Navbar ***/
.sidebar .nav-link {
    margin-top:10px;
    padding: 7px 20px;
    color: var(--dark);
    font-weight: 600;
    border-left: 3px solid var(--light);
    border-radius: 0 30px 30px 0;
    outline: none;
    background-color: white;
    font-size: 18px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    color: #b0b435;
}

.sidebar .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 40px;
}

.sidebar .nav-link:hover i,
.sidebar .nav-link.active i {
    background: var(--light);
}


.btn {
    padding: 0 10px;
    background: #b0b435;
    color: #fff;
    border-color:#b0b435;
}

.btn:hover {
    color: #fff;
    background-color: #b0b435;
    border-color: #b0b435;
}
.stt{
    position: relative;
}
.sort-icon{
    position:absolute;
    right:5%;
    top:26%;
}
.overlay {
    position: fixed;
    z-index:999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display:none;
    opacity: 0;
}
.overlay:target {
    display: block;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #b0b435;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.page-link{
    color:black ;
    background-color: white;
}
.page-item.active{
    background-color:#b0b435 !important;
    color: #F8F9FA;
}
.nav-item{
    font-size: 16px;
    font-weight: 700;
    color:#b0b435;
}
.nav-item.active{
    color:#b0b435 !important;
}

