#product-list {
    transition:  0.5s ease-in-out;
}
.product-content {
    transition: transform 0.3s;
}
.product-content:hover {
    transform: scale(1.1) translateX(20px);
}
.latest-blog-img {
    width: 33%;
    float: left;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid lightgray 1px;
}
.latest-product-content {
    width: 67%;
    float: left;
    padding-left: 10px;
}
.latest-product-content h3 a {
    font-size: 20px;
}
.latest-product-content div h3 {
    padding-top: 10px;
}
.blog-box {
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}
.display {
    margin: 10px 0 20px;
    display: flex;
    justify-content: space-evenly;
}
.page-item.active .page-link {
    background-color: #b0b435;
    border-color: #b0b435;
}
.page-link {
    color: #212121;
}
.reset-button {
    font-weight: 900;
    font-size: 34px;
    max-height: 25px;
    max-width: 25px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer
}
.btn-apply {
    color: white;
    background-color: #b0b435;
}
.btn-reset {
    border: solid lightgray 1px;
    border-radius: 5px;
}
.form-check-input {
    margin-top: 7px;
}
